.body {
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh;
    flex-direction: column;
    background-color: #EDF5FC; 
    
}

.ft40{
    font-size: 40px;
    font-weight: 600;
    color: #6ABCF9;
    margin-top: 4.5rem;
}

.ft18{
    font-size: 18px;
    font-weight: 400;
    margin-top: 2.5rem;
}

.button {
    padding: 13.5px 35.5px ;
    border-radius: 12px;
    background-color: #23557B;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 4.5rem;
}

